<html>
<head>
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
</head>
<body>

<div class='header'>
  <div class='container'>
  <div class='header-title'>
    Catalog App
  </div>

  <div class='login'>
    {% if loggedIn %}
      <a href="{{url_for('gdisconnect')}}">Sign Out</a>
    {% else %}
      <a href="{{url_for('showLogin')}}">Sign In</a>
    {% endif %}
  </div>
</div>
</div>

<div class='wrapper'>
<div class='title'>{{country.name}}</div>
<div class='subtitle'>Cities in {{country.name}} by Population</div>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class='flash'>
          <strong> {{ message }} </strong>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

  {% if loggedIn %}
    <p>
      <div class='add'>
      <a href="{{url_for('newCity', country_id=country.id)}}">New City</a>
      </div>
    </p>
  {% endif %}
    {% if cities %}
      {% for city in cities %}
        <div class='city'>
          <a href='{{url_for('cityOne', city_id=city.id)}}'>
            {{city.name}}</a> -- {{format(city.population, ',')}}
        {% if loggedIn == city.user_id %}
          <div class='editdel'>
            <a href="{{url_for('editCity', city_id=city.id)}}">Edit</a> |
            <a href="{{url_for('deleteCity', city_id=city.id)}}">Delete</a>
          </div>
        {% endif %}
      </div>
      {% endfor %}
    {% endif %}
    <div class='back'>
      <a href="{{url_for('countriesMain')}}">Back to all Countries</a>
    </div>
</div>
</body>
</html>
