<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '198186732165-sb60fnd7schoro1dsl7jfvfub4dgt9fq.apps.googleusercontent.com'
      });
    });
  }
</script>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
</head>
<body>

<div class='header'>
  <div class='container'>
  <div class='header-title'>
    Catalog App
  </div>
</div>
</div>
<div class='wrapper'>
  <p>This application uses Google for user identification. Sign in with your existing Google account.</p>

<button id="signinButton">Sign In With Google</button>
<form class="cancelButton" action="{{url_for('countriesMain')}}">
  <input type="submit" value="Cancel">
</form>

<div class='success'>
  <div id="result"></div>
</div>
</div>
<!--  Step 3: Add the below script before the ending </body> tag -->
<script>
  $('#signinButton').click(function() {
    function signInCallback(authResult){
      if (authResult['code']){
        $('#signinButton').attr('style', 'display: none');
        $('.cancelButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          headers: {
          'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success:function(result){
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/";
                 }, 1000);
          },
          processData:false,
          data:authResult['code'],
        });
      } else{
        // handle error
        console.log('There was an error: ' + authResult['error']);
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
      }
    }
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
</body>
</html>
